*{
    margin: 0px;
    padding: 0px;
}
/* This is navigation bar styles  */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:gray;
}
.menus{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer; 
}
.menus li{
    padding: 10px;
}
.menus a{
    text-decoration: none;
    color: white;
}
/* This is banner section style */
.banner{
    background-image: url("asset/image/background.jpg"),linear-gradient(45deg,tomato,gray);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner-content{
    margin: 0 auto;
    width: 700px;
 
}