*{
    margin: 0px;
    padding: 0px;
}
/* This is navigation bar styles  */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:gray;
}
.menus{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer; 
}
.menus li{
    padding: 8px;
    background-color: red;
    border-radius: 5px;
}
.menus a{
    text-decoration: none;
    color: white;
}
/* This is banner section style */
.banner{
    background-image: url("asset/image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner-content{
    margin: 0 auto;
    width: 700px;
 
}
.banner-title{
    font-size: 55px;
    color: black;
}
.sp-color{
    color: red;
}
.discription{
    color: rgb(40, 2, 26);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400px;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-top: 12px;
    margin-right: 10px;
}
.sp-btn{
    background-color: red;
    color: white;
}