*{
    margin: 0px;
    padding: 0px;
}
/* This is navigation bar styles  */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:gray;
}
.menus{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer; 
}
.menus li{
    padding: 8px;
    background-color: red;
    border-radius: 5px;
}
.menus a{
    text-decoration: none;
    color: white;
}
/* This is banner section style */
.banner{
    background-image: url("asset/image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.banner-content{
    margin: 0 auto;
    width: 700px;
 
}
.banner-title{
    font-size: 55px;
    color: black;
}
.sp-color{
    color: red;
}
.discription{
    color: rgb(40, 2, 26);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400px;
}
.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-top: 12px;
    margin-right: 10px;
}
.sp-btn{
    background-color: red;
    color: white;
}
/* This is service section styles  */

.service{
    display: flex;
    justify-content: space-between;
    background-image: url("/asset/image/footer-bg.png"),linear-gradient(45deg,rgb(97, 96, 96),rgb(27, 13, 13));
}
.service-text{
    width: 650px;
    float: left;
    color: white;
    margin-top: 130px;
    margin-left: 25px;
}
.service-discript{
    font-size: 18px;
    margin: 10px 0px;
}
.image-sec{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-top: 20px;
}
.image-sec button{
    cursor: pointer;
}
.SmallBox{
    background-color: white;
    color: black;
    font-size: 25px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    padding: 15px;
    margin: 20px;

}
.SmallBox:hover{
    background-color: red;
}
.service-img{
    width: 140px;
    height: 140px;
}
.service-container{
    display: flex;
    gap: 70px;
    margin-right: 40px;
    text-align: center;
}